<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AirStoreUI</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <nav>
    <ul class="sidebar">
        <li (click)="hideSidebar()">
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                    <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                </svg>
            </button>
        </li>
        <li><button type="button" (click)="navigateTo('/AirPhoneCatalogModel')">AirPhone</button></li>
        <li><button type="button" (click)="navigateTo('/AirGlassCatalogModel')">AirGlass</button></li>
        <li><button type="button" (click)="navigateTo('/AirTabCatalogModel')">AirTab</button></li>
    </ul>
    <ul class="navbar">
        <li><button type="button" (click)="navigateTo('/Index')">AirShop</button></li>
        <li><button type="button" (click)="navigateTo('/AirPhoneCatalogModel')">AirPhone</button></li>
        <li><button type="button" (click)="navigateTo('/AirGlassCatalogModel')">AirGlass</button></li>
        <li><button type="button" (click)="navigateTo('/AirTabCatalogModel')">AirTab</button></li>
        <ng-container *ngIf="isAuthenticated">
            <li><button type="button" (click)="navigateTo('/ShoppingCart')">Cart</button></li>
            <li><button type="button" (click)="navigateTo('/ShoppingCart')">{{ loggedInUser.Username }}</button></li>
        </ng-container>
        <ng-container *ngIf="!isAuthenticated">
            <li><button type="button" (click)="navigateTo('/LoginModel')">Login</button></li>
        </ng-container>
        <li (click)="showSidebar()">
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                    <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
                </svg>
            </button>
        </li> 
    </ul>
</nav>
<script>
  function showSidebar() {
    const sidebar = document.querySelector('.sidebar')
    sidebar.style.display = 'flex'
  }
  function hideSidebar() {
    const sidebar = document.querySelector('.sidebar')
    sidebar.style.display = 'none'
  }
</script>

<div class="navbar">
    <main role="main" class="pb-3">
        <app-home-page></app-home-page>
    </main>
</div>

</body>
</html>
