*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    /*background-image: url(../images/airglass-transformed.png);*/
    background-color: rgb(19, 19, 19);
    background-size: 50%;
 
    background-repeat:no-repeat;
    background-position: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    background-color: transparent;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;

}
nav .sidebar button{
    border: none;
    outline: none; 
    background-color: transparent;
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}
nav .navbar button{
    border: none;
    outline: none; 
    background-color: transparent;
    height: 100%;
    padding: 0 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color:white;

}
nav .navbar button:hover{
    color: white;
    text-shadow: 0 0 25px white;
    cursor: pointer;
}
nav li:first-child{

    margin-right:auto;
}
nav .sidebar button:hover{
    color: white;
    text-shadow: 0 0 25px white;
}
button{
    border: none;
    outline: none;
    background-color: transparent;
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    color: white;
}
button:hover {
    color: white;
    text-shadow: 0 0 25px white;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #141414;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width:100%;
}
.sidebar button{
    width:100%;
}


.airglass {
    display: flex;
    justify-content: center; /* Horizontal centering */
    font-family: helvetica;
    font-size: 170px;
    font-weight: 700;
    color: #f0f0f0;
    text-shadow: 0 0 5px white;
}
.subtitle button {
    outline: none;
    background-color: transparent;
    position: absolute;
    top: 120%;
    left: 50%;
    font-weight: 800;
    transform: translate(-50%, -50%);
    font-family: Helvetica;
    font-size: 50px;
    color: #f0f0f0;
    margin-top: 70px;
}
